<div class="container mt-5 mb-5">
    <main class="form-signin w-25 m-auto">
        <form>
            <div class="text-center">
                <img class="mb-4" src="xxx" alt="" width="72" height="57">
            </div>
            <h1 class="h3 mb-3 fw-normal text-center">Register</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput">
                <label for="floatingInput">Fullname</label>
            </div>
        
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput">
                <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating">
                <input type="tel" class="form-control" id="floatingInput">
                <label for="floatingInput">Mobile</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="mt-4">
                <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
            </div>
        </form>
    </main>
</div>